<div ng-controleur="MainCtrl">
  <style>
    .list td {
      text-align: center;
    }
  </style>
  <center>
    <h1>{{Page.getText('listoftoys')}}</h1>
    <br/>
    <br/>
    <div ng-if="errors.length > 0">
      <ul ng-repeat="error in errors">
        <li style="color: red;">{{error}}</li>
      </ul>
    </div>
    <div ng-else>
      <table>
        <tr ng-repeat="jouet in jouets"><td>
          <table class="list">
            <tr><td style="font-size: 30px;">{{jouet.nomj}} ({{jouet.cat}}) : </td></tr>
            <tr><td style="font-size: 20px;">{{Page.getText('to')}} {{jouet.prenom}} {{jouet.nom}}</td></tr>
            <tr><td><img width="400px" height="300px" src="http://54.38.184.22:9001/img/{{jouet.id}}.jpg" /></td></tr>
          </table>
        </td></tr>
      </table>
    </div>
  </center>
</div>
