<div ng-controleur="NotificationCtrl">
  <center>
    <h1>Demande et Notifications</h1>
    <span ng-if="errorsDemand.length > 0">
      Erreurs récupérations des demandes
      <ul>
        <li style="color: red;" ng-repeat="error in errorsDemand">{{error}}</li>
      </ul>
    </span>
    <span ng-if="errorsNotifications.length > 0">
      Erreurs récupérations des notifications
      <ul>
        <li style="color: red;" ng-repeat="error in errorsNotifications">{{error}}</li>
      </ul>
    </span>

    <span style="color: orange;" ng-if="demandes.length == 0">Vous n'avez aucune demande</span>
    <table>
      <tr ng-repeat="demande in demandes">
        <td><b>{{demande.prenomSrc}} {{demande.nomSrc}}</b> Souhaite échanger son <b>{{demande.jouetSrc}}</b> avec votre <b>{{demande.jouetDst}} : </b></td>
        <td><input type="button" value="Accepter" ng-click="acceptDemande(demande.id)"/><input type="button" value="Refuser" ng-click="refusDemande(demande.id)"/></td>
      </tr>
    </table>
    <span style="color: orange;" ng-if="notifications.length == 0">Vous n'avez aucune notification</span>
    <table>
      <tr ng-repeat="notification in notifications">
        <td>{{notification.content}}</td>
        <td><input type="button" value="Supprimer" ng-click="supprNotification(notification.id)"/></td>
      </tr>
    </table>
  </center>
</div>
