<div ng-controller="SettingsCtrl">
  <center>
    <h1>{{Page.getText('settings')}}</h1>
    <br/><br/>
    <h3 align="left">{{Page.getText('changeYourPassword')}} :</h3>
    <br/>
    {{Page.getText('password_form')}} <input type="password" ng-model="passwd"/><br/>
    {{Page.getText('confirmPassword_form')}} <input type="password" ng-model="passwdConfirm"/><br/>
    <span style="color: red;" ng-bind="verifConfirmPasswd()"></span>
    <span style="color: green;" ng-if="successChangePasswd == true">{{Page.getText('passwordChanged')}}</span>
    <ul>
      <li style="color: red" ng-repeat="error in errorsChangePasswd">{{error}}</li>
    </ul>
    <input type="button" value="{{Page.getText('valid')}}" ng-click="changePasswd()">
  </center>
</div>
